@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-primary: #6366f1;
    --font-primary: 'Outfit', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8fafc;
}

* {
    box-sizing: border-box;
}